<!DOCTYPE html>
<html>
  <head>
    {% block metas %}
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% endblock %}
    <title>{% block title %}Audit Bundle{% endblock %}</title>
    {% block favicon %}
    {% endblock %}
    {% block subnavigation %}
    <a href="{{ path( 'wgaudits' ) }}">view audit list</a>
    <a href="{{ path( 'wgauditforms' ) }}">view form list</a>
    <a href="{{ path( 'wgauditformsections' ) }}">view section list</a>
    <a href="{{ path( 'wgauditformfields' ) }}">view field list</a>
    {% endblock %}
    {% block stylesheets %}
    {% endblock %}
    {% block conditionals %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
  </head>
  <body>
    {% block body %}Written Games Audit Bundle{% endblock %}
  </body>
</html>
