{% extends 'CiscoSystemsAuditBundle::base.html.twig' %}

{% block body %}
<div class="container-fluid bs-docs-grid">
    <div class="row-fluid show-grid">
        <div class="span4 offest1">
            <h3>Icon Set</h3>
        </div>
        <div class="span4 offset3">
            <h4>List of icons available</h4>
        </div>
    </div>
    <div class="row show-grid">
        <div class="span2"><a href="#"><i class="icon-glass"></i> icon-glass</a></div>
        <div class="span2"><a href="#"><i class="icon-music"></i> icon-music</a></div>
        <div class="span2"><a href="#"><i class="icon-search"></i> icon-search</a></div>
        <div class="span2"><a href="#"><i class="icon-envelope"></i> icon-envelope</a></div>
        <div class="span2"><a href="#"><i class="icon-heart"></i> icon-heart</a></div>
        <div class="span2"><a href="#"><i class="icon-star"></i> icon-star</a></div>
        <div class="span2"><a href="#"><i class="icon-star-empty"></i> icon-star-empty</a></div>
        <div class="span2"><a href="#"><i class="icon-user"></i> icon-user</a></div>
        <div class="span2"><a href="#"><i class="icon-film"></i> icon-film</a></div>
        <div class="span2"><a href="#"><i class="icon-th-large"></i> icon-th-large</a></div>
        <div class="span2"><a href="#"><i class="icon-th"></i> icon-th</a></div>
        <div class="span2"><a href="#"><i class="icon-th-list"></i> icon-th-list</a></div>
        <div class="span2"><a href="#"><i class="icon-ok"></i> icon-ok</a></div>
        <div class="span2"><a href="#"><i class="icon-remove"></i> icon-remove</a></div>
        <div class="span2"><a href="#"><i class="icon-zoom-in"></i> icon-zoom-in</a></div>
        <div class="span2"><a href="#"><i class="icon-zoom-out"></i> icon-zoom-out</a></div>
        <div class="span2"><a href="#"><i class="icon-off"></i> icon-off</a></div>
        <div class="span2"><a href="#"><i class="icon-signal"></i> icon-signal</a></div>
        <div class="span2"><a href="#"><i class="icon-cog"></i> icon-cog</a></div>
        <div class="span2"><a href="#"><i class="icon-trash"></i> icon-trash</a></div>
        <div class="span2"><a href="#"><i class="icon-home"></i> icon-home</a></div>
        <div class="span2"><a href="#"><i class="icon-file"></i> icon-file</a></div>
        <div class="span2"><a href="#"><i class="icon-time"></i> icon-time</a></div>
        <div class="span2"><a href="#"><i class="icon-road"></i> icon-road</a></div>
        <div class="span2"><a href="#"><i class="icon-download-alt"></i> icon-download-alt</a></div>
        <div class="span2"><a href="#"><i class="icon-download"></i> icon-download</a></div>
        <div class="span2"><a href="#"><i class="icon-upload"></i> icon-upload</a></div>
        <div class="span2"><a href="#"><i class="icon-inbox"></i> icon-inbox</a></div>
        <div class="span2"><a href="#"><i class="icon-play-circle"></i> icon-play-circle</a></div>
        <div class="span2"><a href="#"><i class="icon-repeat"></i> icon-repeat</a></div>
        <div class="span2"><a href="#"><i class="icon-refresh"></i> icon-refresh</a></div>
        <div class="span2"><a href="#"><i class="icon-list-alt"></i> icon-list-alt</a></div>
        <div class="span2"><a href="#"><i class="icon-lock"></i> icon-lock</a></div>
        <div class="span2"><a href="#"><i class="icon-flag"></i> icon-flag</a></div>
        <div class="span2"><a href="#"><i class="icon-headphones"></i> icon-headphones</a></div>
        <div class="span2"><a href="#"><i class="icon-volume-off"></i> icon-volume-off</a></div>
        <div class="span2"><a href="#"><i class="icon-volume-down"></i> icon-volume-down</a></div>
        <div class="span2"><a href="#"><i class="icon-volume-up"></i> icon-volume-up</a></div>
        <div class="span2"><a href="#"><i class="icon-qrcode"></i> icon-qrcode</a></div>
        <div class="span2"><a href="#"><i class="icon-barcode"></i> icon-barcode</a></div>
        <div class="span2"><a href="#"><i class="icon-tag"></i> icon-tag</a></div>
        <div class="span2"><a href="#"><i class="icon-tags"></i> icon-tags</a></div>
        <div class="span2"><a href="#"><i class="icon-book"></i> icon-book</a></div>
        <div class="span2"><a href="#"><i class="icon-bookmark"></i> icon-bookmark</a></div>
        <div class="span2"><a href="#"><i class="icon-print"></i> icon-print</a></div>
        <div class="span2"><a href="#"><i class="icon-camera"></i> icon-camera</a></div>
        <div class="span2"><a href="#"><i class="icon-font"></i> icon-font</a></div>
        <div class="span2"><a href="#"><i class="icon-bold"></i> icon-bold</a></div>
        <div class="span2"><a href="#"><i class="icon-italic"></i> icon-italic</a></div>
        <div class="span2"><a href="#"><i class="icon-text-height"></i> icon-text-height</a></div>
        <div class="span2"><a href="#"><i class="icon-text-width"></i> icon-text-width</a></div>
        <div class="span2"><a href="#"><i class="icon-align-left"></i> icon-align-left</a></div>
        <div class="span2"><a href="#"><i class="icon-align-center"></i> icon-align-center</a></div>
        <div class="span2"><a href="#"><i class="icon-align-right"></i> icon-align-right</a></div>
        <div class="span2"><a href="#"><i class="icon-align-justify"></i> icon-align-justify</a></div>
        <div class="span2"><a href="#"><i class="icon-list"></i> icon-list</a></div>
        <div class="span2"><a href="#"><i class="icon-indent-left"></i> icon-indent-left</a></div>
        <div class="span2"><a href="#"><i class="icon-indent-right"></i> icon-indent-right</a></div>
        <div class="span2"><a href="#"><i class="icon-facetime-video"></i> icon-facetime-video</a></div>
        <div class="span2"><a href="#"><i class="icon-picture"></i> icon-picture</a></div>
        <div class="span2"><a href="#"><i class="icon-pencil"></i> icon-pencil</a></div>
        <div class="span2"><a href="#"><i class="icon-map-marker"></i> icon-map-marker</a></div>
        <div class="span2"><a href="#"><i class="icon-adjust"></i> icon-adjust</a></div>
        <div class="span2"><a href="#"><i class="icon-tint"></i> icon-tint</a></div>
        <div class="span2"><a href="#"><i class="icon-edit"></i> icon-edit</a></div>
        <div class="span2"><a href="#"><i class="icon-share"></i> icon-share</a></div>
        <div class="span2"><a href="#"><i class="icon-check"></i> icon-check</a></div>
        <div class="span2"><a href="#"><i class="icon-move"></i> icon-move</a></div>
        <div class="span2"><a href="#"><i class="icon-step-backward"></i> icon-step-backward</a></div>
        <div class="span2"><a href="#"><i class="icon-fast-backward"></i> icon-fast-backward</a></div>
        <div class="span2"><a href="#"><i class="icon-backward"></i> icon-backward</a></div>
        <div class="span2"><a href="#"><i class="icon-play"></i> icon-play</a></div>
        <div class="span2"><a href="#"><i class="icon-pause"></i> icon-pause</a></div>
        <div class="span2"><a href="#"><i class="icon-stop"></i> icon-stop</a></div>
        <div class="span2"><a href="#"><i class="icon-forward"></i> icon-forward</a></div>
        <div class="span2"><a href="#"><i class="icon-fast-forward"></i> icon-fast-forward</a></div>
        <div class="span2"><a href="#"><i class="icon-step-forward"></i> icon-step-forward</a></div>
        <div class="span2"><a href="#"><i class="icon-eject"></i> icon-eject</a></div>
        <div class="span2"><a href="#"><i class="icon-chevron-left"></i> icon-chevron-left</a></div>
        <div class="span2"><a href="#"><i class="icon-chevron-right"></i> icon-chevron-right</a></div>
        <div class="span2"><a href="#"><i class="icon-plus-sign"></i> icon-plus-sign</a></div>
        <div class="span2"><a href="#"><i class="icon-minus-sign"></i> icon-minus-sign</a></div>
        <div class="span2"><a href="#"><i class="icon-remove-sign"></i> icon-remove-sign</a></div>
        <div class="span2"><a href="#"><i class="icon-ok-sign"></i> icon-ok-sign</a></div>
        <div class="span2"><a href="#"><i class="icon-question-sign"></i> icon-question-sign</a></div>
        <div class="span2"><a href="#"><i class="icon-info-sign"></i> icon-info-sign</a></div>
        <div class="span2"><a href="#"><i class="icon-screenshot"></i> icon-screenshot</a></div>
        <div class="span2"><a href="#"><i class="icon-remove-circle"></i> icon-remove-circle</a></div>
        <div class="span2"><a href="#"><i class="icon-ok-circle"></i> icon-ok-circle</a></div>
        <div class="span2"><a href="#"><i class="icon-ban-circle"></i> icon-ban-circle</a></div>
        <div class="span2"><a href="#"><i class="icon-arrow-left"></i> icon-arrow-left</a></div>
        <div class="span2"><a href="#"><i class="icon-arrow-right"></i> icon-arrow-right</a></div>
        <div class="span2"><a href="#"><i class="icon-arrow-up"></i> icon-arrow-up</a></div>
        <div class="span2"><a href="#"><i class="icon-arrow-down"></i> icon-arrow-down</a></div>
        <div class="span2"><a href="#"><i class="icon-share-alt"></i> icon-share-alt</a></div>
        <div class="span2"><a href="#"><i class="icon-resize-full"></i> icon-resize-full</a></div>
        <div class="span2"><a href="#"><i class="icon-resize-small"></i> icon-resize-small</a></div>
        <div class="span2"><a href="#"><i class="icon-plus"></i> icon-plus</a></div>
        <div class="span2"><a href="#"><i class="icon-minus"></i> icon-minus</a></div>
        <div class="span2"><a href="#"><i class="icon-asterisk"></i> icon-asterisk</a></div>
        <div class="span2"><a href="#"><i class="icon-exclamation-sign"></i> icon-exclamation-sign</a></div>
        <div class="span2"><a href="#"><i class="icon-gift"></i> icon-gift</a></div>
        <div class="span2"><a href="#"><i class="icon-leaf"></i> icon-leaf</a></div>
        <div class="span2"><a href="#"><i class="icon-fire"></i> icon-fire</a></div>
        <div class="span2"><a href="#"><i class="icon-eye-open"></i> icon-eye-open</a></div>
        <div class="span2"><a href="#"><i class="icon-eye-close"></i> icon-eye-close</a></div>
        <div class="span2"><a href="#"><i class="icon-warning-sign"></i> icon-warning-sign</a></div>
        <div class="span2"><a href="#"><i class="icon-plane"></i> icon-plane</a></div>
        <div class="span2"><a href="#"><i class="icon-calendar"></i> icon-calendar</a></div>
        <div class="span2"><a href="#"><i class="icon-random"></i> icon-random</a></div>
        <div class="span2"><a href="#"><i class="icon-comment"></i> icon-comment</a></div>
        <div class="span2"><a href="#"><i class="icon-magnet"></i> icon-magnet</a></div>
        <div class="span2"><a href="#"><i class="icon-chevron-up"></i> icon-chevron-up</a></div>
        <div class="span2"><a href="#"><i class="icon-chevron-down"></i> icon-chevron-down</a></div>
        <div class="span2"><a href="#"><i class="icon-retweet"></i> icon-retweet</a></div>
        <div class="span2"><a href="#"><i class="icon-shopping-cart"></i> icon-shopping-cart</a></div>
        <div class="span2"><a href="#"><i class="icon-folder-close"></i> icon-folder-close</a></div>
        <div class="span2"><a href="#"><i class="icon-folder-open"></i> icon-folder-open</a></div>
        <div class="span2"><a href="#"><i class="icon-resize-vertical"></i> icon-resize-vertical</a></div>
        <div class="span2"><a href="#"><i class="icon-resize-horizontal"></i> icon-resize-horizontal</a></div>
        <div class="span2"><a href="#"><i class="icon-hdd"></i> icon-hdd</a></div>
        <div class="span2"><a href="#"><i class="icon-bullhorn"></i> icon-bullhorn</a></div>
        <div class="span2"><a href="#"><i class="icon-bell"></i> icon-bell</a></div>
        <div class="span2"><a href="#"><i class="icon-certificate"></i> icon-certificate</a></div>
        <div class="span2"><a href="#"><i class="icon-thumbs-up"></i> icon-thumbs-up</a></div>
        <div class="span2"><a href="#"><i class="icon-thumbs-down"></i> icon-thumbs-down</a></div>
        <div class="span2"><a href="#"><i class="icon-hand-right"></i> icon-hand-right</a></div>
        <div class="span2"><a href="#"><i class="icon-hand-left"></i> icon-hand-left</a></div>
        <div class="span2"><a href="#"><i class="icon-hand-up"></i> icon-hand-up</a></div>
        <div class="span2"><a href="#"><i class="icon-hand-down"></i> icon-hand-down</a></div>
        <div class="span2"><a href="#"><i class="icon-circle-arrow-right"></i> icon-circle-arrow-right</a></div>
        <div class="span2"><a href="#"><i class="icon-circle-arrow-left"></i> icon-circle-arrow-left</a></div>
        <div class="span2"><a href="#"><i class="icon-circle-arrow-up"></i> icon-circle-arrow-up</a></div>
        <div class="span2"><a href="#"><i class="icon-circle-arrow-down"></i> icon-circle-arrow-down</a></div>
        <div class="span2"><a href="#"><i class="icon-globe"></i> icon-globe</a></div>
        <div class="span2"><a href="#"><i class="icon-wrench"></i> icon-wrench</a></div>
        <div class="span2"><a href="#"><i class="icon-tasks"></i> icon-tasks</a></div>
        <div class="span2"><a href="#"><i class="icon-filter"></i> icon-filter</a></div>
        <div class="span2"><a href="#"><i class="icon-briefcase"></i> icon-briefcase</a></div>
        <div class="span2"><a href="#"><i class="icon-fullscreen"></i> icon-fullscreen</a></div>
    </div>
</div>
{% endblock %}
