{% extends 'WGAuditBundle::base.html.twig' %}

{% block body %}
<a href="{{ path( 'wgauditform_list' ) }}">Create new Audit</a>
    <table>
        <tr>
            <th>Case #</th>
            <th>Engineer</th>
            <th>Manager</th>
        </tr>        
    {% for audit in audits %}
        <tr>
            <td>{{ audit.auditReference }}</td>
            <td>{{ audit.auditingUser }}</td>
            <td>{{ audit.controlUser }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">
                <p>Nothin yet dude</p>
            </td>
        </tr>
    {% endfor %}    
    </table>
{% endblock %}