<div class="cisco-audit-orphan-section row">
    <div class="span2">
        <h4>Create:</h4>
        <a class="btn btn-primary btn-small"
           href="{{ path( 'audit_form_new_section', { 'form_id' : auditform.id } ) }}">
            <i class="icon-plus icon-white"></i> new section
        </a>
    </div>
    <div class="span7">
    {% if usections is not empty and auditform.id is not null %}
        <h4>Add existing section: ({{ usections | length }} available)</h4>
        {% for section in usections %}
        <a class="btn {% if section.isArchived == true %}btn-warning{% else %}btn-primary{% endif %} btn-small cisco-audit-section-add"
           href="{{ path( 'audit_form_add_section', { 'form_id' : auditform.id ,'section_id': section.id } ) }}">
            <i class="icon-plus icon-white"></i> {{ section.title }}
        </a>
        {% endfor %}
    {% endif %}
    </div>
</div>