{% extends 'CiscoSystemsAuditBundle::base.html.twig' %}

{% block pagetitle %}
    {{ parent() }}: List of existing Section
{% endblock %}

{% block pagecontent %}
<div class="container">
    <div class="span10">
        <div class="btn-group pull-right">
            <a class="btn btn-small" href="{{ path( 'audit_section_add' ) }}">
                Create new Section <i class="icon-plus"></i>
            </a>
        </div>
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Form</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for section in sections %}
                    {% include 'CiscoSystemsAuditBundle:Section:_view.html.twig' %}
                {% else %}
                    <tr class="warning-empty">
                        <td colspan="3">
                            <i class="icon-warning-sign"></i>
                            No existing section
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
