{% extends 'WGAuditBundle::base.html.twig' %}

{% block body %}

    <h2>Section:</h2>

    <table class="data">
        <thead>
            <tr>
                <th>Title</th>
                <th>Form</th>
                <th>description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ section.title }}</td>
                <td>{{ section.auditform }}</td>
                <td>{{ section.description }}</td>
            </tr>
        </tbody>
    </table>
        
{% endblock %}
