<div class="cisco-audit-orphan-field">
    <a class="btn btn-mini" 
       href="{{ path( 'audit_section_new_field', { 'section_id' : section.id } ) }}">
        Create: new Field <i class="icon-plus"></i>
    </a>
{% if ufields is not empty and section.id is not null %}
    {% for field in ufields %}
    <a class="btn btn-mini cisco-audit-field-add"
       href="{{ path( 'audit_section_add_field', { 'section_id' : section.id ,'field_id': field.id } ) }}">
        Add: {{ field.title }} <i class="icon-plus"></i> 
    </a>
    {% endfor %}
{% endif %}
</div>