<div class="cisco-audit-orphan-field">
    <div class="span2 audit-left-pan">
        <h4>Create:</h4>
        <a class="btn btn-primary btn-small"
           href="{{ path( 'audit_section_new_field', { 'section_id' : section.id } ) }}">
            <i class="icon-plus icon-white"></i> new Field
        </a>
    </div>
    <div class="span7 audit-right-pan" id="audit-orphan-info" title="field in <span class='label label-info'>blue</span> are currently associated with one or more section and
field in <span class='label label-warning'>orange</span> are not currently associated with any section."
            data-toggle="tooltip">
    {% if ufields is not empty and section.id is not null %}
        <h4>Add existing field: ({{ ufields | length }} available)</h4>
        {% for field in ufields %}
            <a class="btn {% if field.isArchived == true %}btn-warning{% else %}btn-primary{% endif %} btn-small cisco-audit-field-add"
               href="{{ path( 'audit_section_add_field', { 'section_id' : section.id ,'field_id': field.id } ) }}">
                <i class="icon-plus icon-white"></i> {{ field.title }}
            </a>
        {% endfor %}
    {% endif %}
    </div>
</div>