<table class="table table-condensed table-hover cisco-audit-table">
    <thead>
        <tr>
            <th width=20%>Title</th>
            <th width=30%></th>
            <th width=30%>Section</th>
            <th width=5%>Weight</th>
            <th width=5%>Flag</th>
            <th width=10%></th>
        </tr>
    </thead>
    <tbody>
    {% for field in fields %}
        {% include 'CiscoSystemsAuditBundle:AuditFormField:_item.html.twig' %}
    {% else %}
        <tr class="warning-empty">
            <td colspan="6">
                <i class="icon-warning-sign"></i> No existing field to list
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>