{% extends 'CiscoSystemsAuditBundle::base.html.twig' %}

{% block pagecontent %}
<div class="container">
    <div class="span8 offset2">
        <legend>
            Existing Fields
            <a class="btn btn-mini pull-right"
               href="{{ path( 'cisco_auditfield_add' ) }}">
                <i class="icon-plus"></i> Add a new field
            </a>
        </legend>
        <table class="table table-condensed table-hover cisco-audit-table">
            <caption>List of existing fields</caption>
            <thead>
                <tr>
                    <th width=20%>Title</th>
                    <th width=35%></th>
                    <th width=30%>Section</th>
                    <th width=5%>Weight</th>
                    <th width=5%>Fatal</th>
                    <th width=5%></th>                         
                </tr>
            </thead>
            <tbody>
                {% for field in fields %}
                    {% include 'CiscoSystemsAuditBundle:AuditFormField:_view.html.twig' %}
                {% else %}
                    <tr>
                        <td colspan="5">
                            <div class="alert alert-error">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <h4>Warning!</h4>
                                <p>No fields yet.</p>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>    
{% endblock %}
